<mat-dialog-content>
  <div *ngIf="dataSource.data.length === 0">Nenhum orçamento disponível.</div>
  <div *ngIf="dataSource.data.length > 0">
    <mat-tab-group>
      <mat-tab label="Orçamentos">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Dynamic Columns -->
          <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</th>
            <td mat-cell *matCellDef="let element">
              {{ column.cell(element) }}
            </td>
          </ng-container>

          <!-- Static Column for Print Button -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="onPrint(element)">
                <mat-icon>print</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Header and Row Definitions -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns.concat('actions')"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns.concat('actions');"></tr>

        </table>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-dialog-content>

<!-- Paginator -->
<mat-paginator *ngIf="dataSource.data.length > 0" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<mat-dialog-actions>
  <button mat-button (click)="onClose()">Fechar</button>
</mat-dialog-actions>
