<div class="container my-4">
  <div class="row mb-6 align-items-center">
    <!-- Filter Input Field -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilters($event)" placeholder="Pesquisar" #input>
      </mat-form-field>
    </div>

    <!-- State Dropdown and Action Buttons -->
    <div class="col-lg-9 col-md-8 col-sm-6 text-end">
      <div class="row justify-content-end">
        <!-- State Dropdown -->
        @if (exiteState()) {
          <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Estado</mat-label>
              <mat-select [(value)]="selectedState" (selectionChange)="filterByState($event)">
                <mat-option value="Todos">Todos</mat-option>
                <mat-option value="Pendente">Pendente</mat-option>
                <mat-option value="Adjudicado">Adjudicado</mat-option>
                <mat-option value="Rejeitado">Rejeitado</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        }

        <!-- Add New Button and Other Actions -->
        <div class="col-lg-9 col-md-8 col-sm-12 text-end d-flex justify-content-end flex-wrap" >
          @if (existeActive) {
            <button mat-raised-button color="accent" (click)="toggleInactiveRows()" style="margin-right: 20px;">
              {{ showInactive ? 'Esconder Inativos' : 'Mostrar Inativos' }}
            </button>
          }
          @if (this.routeBefore) {
            <button mat-stroked-button (click)="navigateBack()">
              Voltar
            </button>
          }
          <button mat-stroked-button (click)="navigateToAddNew()">
            Novo
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Table and Paginator -->
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >
          <!-- Define Columns -->
          @for (column of columns; track column) {
            <ng-container [matColumnDef]="column.columnDef" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header [style.max-width]="column.columnDef === 'name' ? '50px' : 'auto'" > {{ column.header }} </th>
              <td mat-cell *matCellDef="let element" [style.max-width]="column.columnDef === 'name' ? '350px' : 'auto'" [style.max-width]="column.columnDef === 'code' ? '100px' : 'auto'" >
                @switch (column.columnDef) {
                  @case ('terminalTypeImage') {
                    <img [src]="'assets/Images/' + column.cell(element) + '.png'" alt="Terminal Type" height="50">
                  }
                  @case ('Date') {
                    {{ column.cell(element) | date: 'dd/MM/yyyy' }}
                  }
                  @case ('date') {
                    {{ column.cell(element) | date: 'dd/MM/yyyy' }}
                  }
                  @case ('LastLogin') {
                    {{ column.cell(element) | date: 'dd/MM/yyyy HH:mm' }}
                  }
                  @case ('ExpirationDate') {
                    {{ column.cell(element) | date: 'dd/MM/yyyy HH:mm' }}
                  }
                  @case ('CreationDate') {
                    {{ column.cell(element) | date: 'dd/MM/yyyy HH:mm' }}
                  }
                  @case ('LastUpdate') {
                    {{ column.cell(element) | date: 'dd/MM/yyyy HH:mm' }}
                  }
                  @case ('actions') {
                    <button mat-icon-button (click)="onEdit(element)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="onDelete(element)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  }
                  @case ('print') {
                    <button mat-icon-button (click)="onPrint(element)">
                      <mat-icon>print</mat-icon>
                    </button>
                  }
                  @case ('Extrato') {
                    <button mat-icon-button (click)="onClientDetail(element)">
                      <mat-icon>receipt</mat-icon>
                    </button>
                  }
                  @default {
                    {{ column.cell(element) }}
                  }
                }
              </td>
            </ng-container>
          }

          <!-- Table Header and Rows -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"     ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [ngClass]="{
              'active-row': row.active ,
              'inactive-row': !row.active && showInactive,
              'adjudicado-row': row.state == 'Adjudicado',
              'rejeitado-row': row.state == 'Rejeitado'
          }"
            >
          </tr>
        </table>
      </div>

      <!-- Paginator -->
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
