/* Base table styling */
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  word-wrap: break-word; /* Ensure long text breaks */
}
.active-row {
  background-color: white;
}

.inactive-row {
  background-color: #ffebee; /* Light red background */
}
th.mat-header-cell {
  background-color: #f1f1f1;
  font-weight: bold;
  color: #000;
}

td.mat-cell {
  padding: 8px;
}

.mat-sort-header-sorted {
  color: black;
}

.mat-sort-header-arrow {
  color: black;
}
/* Add some spacing around the table */
.mat-table {
  margin: 16px 0;
}

.mat-label {
  color: #000;
}

/* Table wrapper to allow horizontal scrolling */
.table-responsive {
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
}


.inactive-row {
  background-color: #ffe0e0; /* Light red for inactive terminals */
}

/* Media query for mobile devices */
@media (max-width: 1200px) {
  /* Hide the 4th column and beyond */
  .mat-header-cell:nth-child(n+4),
  .mat-cell:nth-child(n+4) {
    display: none;
  }
}

@media (max-width: 1000px) {
  /* Hide the 3rd column and beyond */
  .mat-header-cell:nth-child(n+3),
  .mat-cell:nth-child(n+3) {
    display: none;
  }
}

@media (max-width: 800px) {
  /* Hide the 2nd column and beyond */
  .mat-header-cell:nth-child(n+2),
  .mat-cell:nth-child(n+2) {
    display: none;
  }
}

@media (max-width: 600px) {
  /* Hide the 1st column and beyond */
  .mat-header-cell:nth-child(n+1),
  .mat-cell:nth-child(n+1) {
    display: none;
  }
}


