<form [formGroup]="userForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="company-card">
      <mat-card-header>
        <mat-card-title>
          <h1>{{ isEditMode ? 'Editar User' : 'Criar User' }}</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-6">
            <mat-form-field class="full-width">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome" formControlName="username" />
                <mat-error *ngIf="userForm.controls['username'].hasError('required')">
                Nome <strong>é obrigatório</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="full-width" *ngIf="!isEditMode">
                <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Password" formControlName="password" />
              <mat-error *ngIf="userForm.controls['username'].hasError('required')">
                Password <strong>é obrigatório</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col-6">
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="Email" formControlName="email" />
              <mat-error *ngIf="userForm.controls['email'].hasError('required')">
                Email <strong>é obrigatório</strong>
              </mat-error>
            </mat-form-field>
          </div>
          
          <div class="col-6">
            <mat-form-field class="full-width">
             <mat-label>Nivel</mat-label>
              <mat-select  placeholder="Empresa" formControlName="role">
                <mat-option value="A">Admin</mat-option>
                <mat-option value="U">User</mat-option>
              </mat-select>
              <mat-error *ngIf="userForm.controls['role'].hasError('required')">
                  Nivel<strong>é obrigatório</strong>
                </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">
          {{ isEditMode ? 'Atualizar' : 'Gravar' }}
        </button>
        <button mat-raised-button color="accent" type="button" (click)="onCancel()">
          Cancelar
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  